---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-superset
timeout: 300
---
apiVersion: v1
kind: Secret
metadata:
  name: superset-admin-credentials
type: Opaque
stringData:
  adminUser.username: admin
  adminUser.firstname: Superset
  adminUser.lastname: Admin
  adminUser.email: admin@superset.com
  adminUser.password: admin
---
apiVersion: v1
kind: Secret
metadata:
  name: superset-postgresql-credentials
stringData:
  username: superset
  password: superset
---
apiVersion: v1
kind: Secret
metadata:
  name: superset-redis-credentials
stringData:
  username:
  password: superset
---
apiVersion: superset.stackable.tech/v1alpha1
kind: SupersetCluster
metadata:
  name: superset
spec:
  image:
{% if test_scenario['values']['superset'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['superset'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['superset'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['superset'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    credentialsSecretName: superset-admin-credentials
    metadataDatabase:
      postgresql:
        host: superset-postgresql
        database: superset
        credentialsSecretName: superset-postgresql-credentials
    celeryResultsBackend:
      redis:
        host: superset-redis-master
        credentialsSecretName: superset-redis-credentials
    celeryBroker:
      redis:
        host: superset-redis-master
        credentialsSecretName: superset-redis-credentials
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  nodes:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    configOverrides:
      superset_config.py:
        FILE_FOOTER: |-
          # Add endpoints that need to be exempt from CSRF protection
          # Otherwise {"message": "400 Bad Request: The CSRF token is missing.", "error_type": "GENERIC_BACKEND_ERROR", "level": "error", "extra": {"issue_codes": [{"code": 1011, "message": "Issue 1011 - Superset encountered an unexpected error."}]}}
          WTF_CSRF_ENABLED = False
    roleGroups:
      default:
        replicas: 1
  workers:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  beat:
    config:
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
