---
global:
  commonLabels:
    stackable.tech/vendor: Stackable
  security:
    allowInsecureImages: true # needed starting with Chart version 20.5.0 if modifying images
image:
  repository: bitnamilegacy/redis
sentinel:
  image:
    repository: bitnamilegacy/redis-sentinel
metrics:
  image:
    repository: bitnamilegacy/redis-exporter
kubectl:
  image:
    repository: bitnamilegacy/kubectl
sysctl:
  image:
    repository: bitnamilegacy/os-shell

volumePermissions:
  enabled: false
  image:
    repository: bitnamilegacy/os-shell
  containerSecurityContext:
    runAsUser: auto

master:
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "200m"
    limits:
      memory: "128Mi"
      cpu: "800m"

replica:
  replicaCount: 1
  podSecurityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "128Mi"
      cpu: "400m"

auth:
  password: superset
