---
apiVersion: v1
kind: Secret
metadata:
  name: superset-admin-credentials
type: Opaque
stringData:
  adminUser.username: admin
  adminUser.firstname: Superset
  adminUser.lastname: Admin
  adminUser.email: admin@superset.com
  adminUser.password: admin
---
apiVersion: v1
kind: Secret
metadata:
  name: superset-postgresql-credentials
stringData:
  username: superset
  password: superset
---
apiVersion: superset.stackable.tech/v1alpha1
kind: SupersetCluster
metadata:
  name: superset
spec:
  image:
{% if test_scenario['values']['superset'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['superset'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['superset'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['superset'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    credentialsSecretName: superset-admin-credentials
    metadataDatabase:
      postgresql:
        host: superset-postgresql
        database: superset
        credentialsSecretName: superset-postgresql-credentials
  nodes:
    roleConfig:
      listenerClass: test-external-unstable-$NAMESPACE
    roleGroups:
      default:
        replicas: 2
