---
apiVersion: v1
kind: Secret
metadata:
  name: superset-credentials
type: Opaque
stringData:
  adminUser.username: admin
  adminUser.firstname: Superset
  adminUser.lastname: Admin
  adminUser.email: admin@superset.com
  adminUser.password: admin
  connections.secretKey: thisISaSECRET_1234
  connections.sqlalchemyDatabaseUri: postgresql://superset:superset@superset-postgresql/superset
---
apiVersion: superset.stackable.tech/v1alpha1
kind: SupersetCluster
metadata:
  name: superset
spec:
  image:
{% if test_scenario['values']['superset'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['superset'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['superset'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['superset'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    credentialsSecret: superset-credentials
  nodes:
    config:
      listenerClass: test-external-stable-$NAMESPACE
    roleGroups:
      default:
        replicas: 2
      external-unstable:
        replicas: 1
        config:
          listenerClass: test-external-unstable-$NAMESPACE
      cluster-internal:
        replicas: 1
        config:
          listenerClass: test-cluster-internal-$NAMESPACE
