---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: restart-superset
timeout: 300
---
apiVersion: superset.stackable.tech/v1alpha1
kind: SupersetCluster
metadata:
  name: superset
spec:
  clusterConfig:
    clusterOperation:
      reconciliationPaused: false
      stopped: false
